<header class="site-header">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.minima.nav_pages | default: default_paths -%}
    {%- assign page_titles = site.pages | map: 'title' | compact %}
    <a class="site-title" rel="author" href="{{ '/' | relative_url }}"><img src="/assets/images/logo.png" alt="The Tikkun Line logo which is a bird carrying a phone on the left and the text 'The Tikkun Line' in a sans-serif font on the right." style="width:50%;"></a>

    {%- unless page_titles == empty %}
      <nav class="site-nav">
        <input type="checkbox" id="nav-trigger" />
        <label for="nav-trigger">
          <span class="menu-icon"></span>
        </label>

        {% include nav-items.html paths = page_paths %}
      </nav>
    {%- endunless %}
  </div>
</header>
